<h1>Sometimes I wonder why I procrastinate so much...</h1>

<p>Like really, I do wonder sometimes. I somehow manage to pull motivation out of thin air during my day...</p>
<p>the only caveat is that I don't have time to work between classes. Ergo, I end up with my motivation spring all</p>
<p>dry and sad by the time that I need to produce something for a class. </p>
<p>I suppose there isn't too much that can be done, but still... Utterly frustrating.</p>

<p>Anyway, here's a "shittyflute" cover of Take on Me by A-Ha</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/nF7lv1gfP1Q" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>I hope you enjoyed that lovely song!</p>

<a href="/ping">Click me for the current time printout!</a>