<!DOCTYPE html>
<html>
{{ template "head.tmpl" .}}
<body>
    <h1>{{ .title }}</h1>

    {{ if (eq .content "homepage_content")}}
        {{ template "homepage_content.tmpl" .}}
    {{ else if (eq .content "pong_content")}}
        {{ template "pong_content.tmpl" .}}
    {{ else }}
        {{ template "empty_content.tmpl" }}
    {{ end }}

    {{ template "footer.tmpl" .}}
</body>

</html>



